


.hero-section {
  position: relative;
  height: 100vh; /* ใช้ความสูงเต็มหน้าจอ */
  background: linear-gradient(-45deg, #6a11cb, #2575fc, #6a11cb, #2575fc);
  background-size: 200% 200%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: white;
}



/* Animation for the background */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
